<div>
  <form ng-submit="game_chat.doSendChatMessage()">
      <div class="input-group">
        <span class="input-group-btn">
          <button type="submit"
                  class="btn btn-default">
            Send
          </button>
        </span>
        <input type="text"
               class="form-control"
               placeholder="Msg..."
               ng-model="game_chat.msg" />
      </div>
  </form>
  <div class="chat-list">
    <div class="chat"
         ng-repeat="c in game_chat.chat.slice(-10).reverse() track by c.stamp">
      {{ c.from }}
      ➝
      {{c.msg}}
    </div>
  </div>
</div>
