<g>
  <circle ng-repeat="(i,c) in state.game.scenario.circle"
          ng-attr-cx="{{::c.x}}"
          ng-attr-cy="{{::c.y}}"
          ng-attr-r="{{::c.r}}"
          class="zone">
  </circle>
  <rect ng-repeat="(i,r) in state.game.scenario.rect"
        ng-attr-x="{{::r.x-r.width/2}}" ng-attr-y="{{::r.y-r.height/2}}"
        ng-attr-width="{{::r.width}}" ng-attr-height="{{::r.height}}"
        class="zone">
  </rect>
  <circle ng-repeat="(i,o) in state.game.scenario.objectives"
          ng-attr-cx="{{::o.x}}"
          ng-attr-cy="{{::o.y}}"
          r="9.842"
          class="objective">
  </circle>
  <circle ng-repeat="(i,f) in state.game.scenario.flags"
          ng-attr-cx="{{::f.x}}"
          ng-attr-cy="{{::f.y}}"
          r="7.874"
          class="objective">
  </circle>
  <g ng-show="app.stateIs('game.setup')">
    <rect ng-show="state.game.scenario.killbox"
          x="140" y="140"
          width="200" height="200"
          class="area">
    </rect>
    <circle ng-repeat="(i,o) in state.game.scenario.objectives"
            ng-attr-cx="{{::o.x}}"
            ng-attr-cy="{{::o.y}}"
            r="49.842"
            class="area">
    </circle>
    <circle ng-repeat="(i,f) in state.game.scenario.flags"
            ng-attr-cx="{{::f.x}}"
            ng-attr-cy="{{::f.y}}"
            r="47.874"
            class="area">
    </circle>
  </g>
</g>
