<div id="lounge"
     class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        {{ state.user | user:'description' }} /
        {{ (state.user | user:'isOnline') ? 'Online' : 'Offline' }}
        <!-- ( {{ state.user.state.stamp }} ) -->
      </h4>
    </div>
    <div class="panel-body"
         ng-show="state.user | user:'isOnline'">
      <click-user-chat>
      </click-user-chat>
    </div>
    <div class="panel-footer">
      <button type="button"
              class="btn btn-default"
              ng-click="lounge.doUserToggleOnline()">
        Go {{ (state.user | user:'isOnline') ? 'Offline' : 'Online' }}
      </button>
    </div>
  </div>
  <div class="panel panel-info"
       ng-show="state.user | userConnection:'active'">
    <div class="panel-heading">
      <h4 class="panel-title">Online Games</h4>
    </div>
    <div class="game-list panel-body">
      <click-games-list games="state.user.connection.games"
                        selection="lounge.online_games_selection">
      </click-games-list>
    </div>
    <div class="panel-footer">
      <form>
        <div class="btn-group">
          <button type="button"
                  class="btn btn-default"
                  ng-click="lounge.doCreateOnlineGame()">
            New Game
          </button>
          <button type="button"
                  class="btn btn-default"
                  ng-click="lounge.doLoadOnlineGame()"
                  ng-disabled="lounge.online_games_selection.list.length <= 0">
            Watch Game
          </button>
        </div>
        <div class="form-group">
          <label for="import-file">
            Upload game file :
          </label>
          <input class="form-control"
                 id="import-file"
                 type="file"
                 multiple
                 click-file="lounge.doOpenOnlineGameFile(file)" />
        </div>
      </form>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">Local games</h4>
    </div>
    <div class="game-list panel-body">
      <click-games-list games="state.local_games"
                        selection="lounge.local_games_selection">
      </click-games-list>
    </div>
    <div class="panel-footer">
      <form>
        <div class="btn-group">
          <button type="button"
                  class="btn btn-default"
                  ng-click="lounge.doCreateLocalGame()">
            New Game
          </button>
          <button type="button"
                  class="btn btn-default"
                  ng-click="lounge.doLoadLocalGame()"
                  ng-disabled="lounge.localGamesIsEmpty()">
            Load Game
          </button>
          <button type="button"
                  class="btn btn-default"
                  ng-click="lounge.doDeleteLocalGame(index)"
                  ng-disabled="lounge.localGamesIsEmpty()">
            Delete Game
          </button>
        </div>
        <div class="form-group">
          <label for="import-file">
            Import game file :
          </label>
          <input class="form-control"
                 id="import-file"
                 type="file"
                 click-file="lounge.doOpenLocalGameFile(file)" />
        </div>
      </form>
    </div>
  </div>
</div>
