<g ng-repeat="template in state.game.templates[type] track by template.state.stamp"
   click-game-template
   ng-class="{
             'selection': selection.selected,
             'local': selection.local,
             'remote': selection.remote
             }">
  <circle ng-show="template.render.type==='aoe'"
          class="template aoe"
          data-stamp="{{template.render.stamp}}"
          ng-attr-cx="{{template.render.x}}" ng-attr-cy="{{template.render.y}}"
          ng-attr-r="{{template.render.radius}}">
  </circle>
  <line ng-show="template.render.type==='aoe'"
        class="template-aoe-direction"
        style="marker-end: url(#aoe-direction-end);"
        ng-attr-x1="{{template.render.x}}" ng-attr-y1="{{template.render.y}}"
        ng-attr-x2="{{template.render.dx}}" ng-attr-y2="{{template.render.dy}}"
        ng-attr-transform="{{template.render.dtransform}}">
  </line>
  <polygon ng-show="template.render.type==='spray'"
           class="template spray"
           data-stamp="{{template.render.stamp}}"
           ng-attr-points="{{template.render.points}}"
           ng-attr-transform="{{template.render.transform}}">
  </polygon>
  <rect ng-show="template.render.type==='wall'"
        class="template wall"
        data-stamp="{{template.render.stamp}}"
        ng-attr-x="{{template.render.x}}" ng-attr-y="{{template.render.y}}"
        width="40" height="7.5"
        ng-attr-transform="{{template.render.transform}}">
  </rect>
  <g click-game-element-label="template.render.label">
  </g>
  <circle class="spray-origin"
          ng-if="template.render.origin"
          ng-attr-cx="{{template.render.origin.cx}}"
          ng-attr-cy="{{template.render.origin.cy}}"
          ng-attr-r="{{template.render.origin.radius}}">
  </circle>
</g>
