<div id="game"
     click-game-page>
  <div id="gameview"
       class="resizable">
    <div id="zoom-osd"
         class="btn-group-vertical"
         ng-include="'partials/game/zoomOsd.html'">
    </div>
    <div id="cmd-osd"
         ng-include="'partials/game/cmdOsd.html'">
    </div>
    <div id="viewport">
      <svg id="map"
           viewBox="0 0 480 480">
        <g click-game-board>
          <image id="board-preview"
                 x="0" y="0" width="480" height="480"
                 xlink:href="" />
          <image id="board-view"
                 x="0" y="0" width="480" height="480"
                 xlink:href="" />
        </g>
        <line x1="0" y1="10"
              x2="480" y2="10"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="0" y1="20"
              x2="480" y2="20"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="0" y1="30"
              x2="480" y2="30"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="0" y1="40"
              x2="480" y2="40"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="0" y1="50"
              x2="480" y2="50"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="0" y1="60"
              x2="480" y2="60"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="0" y1="120"
              x2="480" y2="120"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="0" y1="180"
              x2="480" y2="180"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="0" y1="240"
              x2="480" y2="240"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="0" y1="360"
              x2="480" y2="360"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="0" y1="480"
              x2="480" y2="480"
              style="
              stroke-width: 1;
              stroke: black;
              "/>

        <line x1="10" y1="0"
              x2="10" y2="480"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="20" y1="0"
              x2="20" y2="480"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="30" y1="0"
              x2="30" y2="480"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="40" y1="0"
              x2="40" y2="480"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="50" y1="0"
              x2="50" y2="480"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="60" y1="0"
              x2="60" y2="480"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="120" y1="0"
              x2="120" y2="480"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="180" y1="0"
              x2="180" y2="480"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="240" y1="0"
              x2="240" y2="480"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="360" y1="0"
              x2="360" y2="480"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
        <line x1="480" y1="0"
              x2="480" y2="480"
              style="
              stroke-width: 1;
              stroke: black;
              "/>
      </svg>
    </div>
  </div>
  <div id="menu">
    <button id="menu-toggle"
            class="btn btn-default"
            title="Toggle menu">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    <div id="menu-content">
      <p>
        <strong>Player 1:</strong> {{game | game:'playerName':'p1'}}
        <strong>VS</strong>
        <strong>Player 2:</strong> {{game | game:'playerName':'p2'}}
      </p>
      <ul class="nav nav-tabs">
        <li class="{{stateIs('game.main') ? 'active' : ''}}"
            ng-click="goToState('^.main')">
          <a>Main</a>
        </li>
        <li class="{{stateIs('game.setup') ? 'active' : ''}}"
            ng-click="goToState('^.setup')">
          <a>Setup</a>
        </li>
        <li class="{{stateIs('game.log') ? 'active' : ''}}"
            ng-click="goToState('^.log')">
          <a>Log</a>
        </li>
        <li class="{{stateIs('game.help') ? 'active' : ''}}"
            ng-click="goToState('^.help')">
          <a>Help</a>
        </li>
        <li ng-click="goToState('lounge')">
          <a>Lounge</a>
        </li>
      </ul>
      <div ui-view
           id="menu-view">
      </div>
    </p>
  </div>
</div>
