<div id="game"
     click-game-page>
  <div id="gameview"
       class="resizable">
    <div id="zoom-osd"
         class="btn-group-vertical"
         ng-include="'partials/game/zoomOsd.html'">
    </div>
    <div id="cmd-osd"
         ng-include="'partials/game/cmdOsd.html'">
    </div>
    <div id="game-loading"
         click-game-loading
         class="text-center bg-primary">
      <strong>Loading...</strong>
    </div>
    <div id="game-warn-mode"
         click-game-warn-mode
         class="text-center">
      <strong>aoeTemplateLocked</strong>
    </div>
    <div id="selection-osd"
         click-game-selection-detail
         ng-include="'partials/game/selectionOsd.html'">
    </div>
    <div id="viewport">
      <svg id="map"
           click-game-map
           click-game-layers
           viewBox="0 0 480 480">
        <defs>
          <filter id="aura-filter"
                  x="-50%" y="-50%"
                  width="200%" height="200%">
            <feGaussianBlur in="SourceGraphic"
                            stdDeviation="2"/>
          </filter>
          <marker id="aoe-direction-end"
                  markerWidth="6"
                  markerHeight="8"
                  refx="6"
                  refy="4"
                  orient="auto">
            <polygon points="0,8 6,4 0,0"
                     style="
                            fill:#0F0;
                            "
            />
          </marker>
          <marker id="ruler-start"
                  markerWidth="6" markerHeight="8"
                  refx="0" refy="4"
                  orient="auto">
            <polygon points="6,8 0,4 6,0"
                     style="
                            fill:#0EE;
                            "
            />
            <line x1="0" y1="1" x2="0" y2="7"
                  style="
                         stroke:#0CC;
                         stroke-width:2px;
                         "
            />
          </marker>
          <marker id="ruler-end"
                  markerWidth="6" markerHeight="8"
                  refx="6" refy="4"
                  orient="auto">
            <polygon points="0,8 6,4 0,0"
                     style="
                            fill:#0EE;
                            "
            />
            <line x1="6" y1="1" x2="6" y2="7"
                  style="
                         stroke:#0CC;
                         stroke-width:2px;
                         "
            />
          </marker>
        </defs>
        <g id="game-board"
           click-game-board>
          <image id="board-preview"
                 x="0" y="0" width="480" height="480"
                 xlink:href="{{game.board.preview || ''}}" />
          <image id="board-view"
                 x="0" y="0" width="480" height="480"
                 xlink:href="{{game.board.img || ''}}" />
        </g>
        <g id="game-deploiement">
          <g ng-include="'partials/game/deploiement.html'">
          </g>
        </g>
        <g id="game-scenario">
          <g ng-include="'partials/game/scenario.html'">
          </g>
        </g>
        <g id="game-templates-locked"
           click-game-templates-list>
          <g ng-repeat="template in game.templates.locked track by template.state.stamp"
             click-game-template>
          </g>
        </g>
        <g id="game-under-models">
        </g>
        <g id="game-models"
           click-game-models-list>
          <g ng-repeat="(i,model) in game.models.locked track by model.state.stamp"
             click-game-model>
          </g>
        </g>
        <g id="game-models"
           click-game-models-list>
          <g ng-repeat="(i,model) in game.models.active track by model.state.stamp"
             click-game-model>
          </g>
        </g>
        <g id="game-over-models">
        </g>
        <g id="game-templates"
           click-game-templates-list>
          <g ng-repeat="template in game.templates.active track by template.state.stamp"
             click-game-template>
          </g>
        </g>
        <g id="game-ruler"
           click-game-ruler>
        </g>
        <g click-create-models>
          <g ng-repeat="(index,model) in create.model.models"
             click-create-model>
          </g>
        </g>
        <g click-create-template>
        </g>
        <rect id="game-dragbox"
              click-game-dragbox>
        </rect>
      </svg>
    </div>
  </div>
  <div id="menu">
    <button id="menu-toggle"
            class="btn btn-default"
            title="Toggle menu">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    <div id="menu-content">
      <p>
        <strong>Player 1:</strong> {{game | game:'playerName':'p1'}}
        <strong>VS</strong>
        <strong>Player 2:</strong> {{game | game:'playerName':'p2'}}
      </p>
      <ul class="nav nav-tabs">
        <li class="{{stateIs('game.main') ? 'active' : ''}}"
            ng-click="goToState('^.main')">
          <a>Main</a>
        </li>
        <li class="{{stateIs('game.model') ? 'active' : ''}}"
            ng-click="goToState('^.model')">
          <a>Model</a>
        </li>
        <li class="{{stateIs('game.setup') ? 'active' : ''}}"
            ng-click="goToState('^.setup')">
          <a>Setup</a>
        </li>
        <li class="{{stateIs('game.log') ? 'active' : ''}}"
            ng-click="goToState('^.log')">
          <a>Log</a>
        </li>
        <li class="{{stateIs('game.save') ? 'active' : ''}}"
            ng-click="goToState('^.save')">
          <a>Save</a>
        </li>
        <li class="{{stateIs('game.help') ? 'active' : ''}}"
            ng-click="goToState('^.help')">
          <a>Help</a>
        </li>
        <li ng-click="goToState('lounge')">
          <a>Lounge</a>
        </li>
      </ul>
      <div ui-view
           id="menu-view">
      </div>
            </p>
    </div>
  </div>
