<div id="game"
     click-game-page>
  <div id="gameview"
       class="resizable">
    <div id="zoom-osd"
         class="btn-group-vertical"
         ng-include="'partials/game/zoomOsd.html'">
    </div>
    <div id="cmd-osd"
         ng-include="'partials/game/cmdOsd.html'">
    </div>
    <div id="game-loading"
         class="text-center bg-primary"
         click-game-loading>
      <strong>Loading...</strong>
    </div>
    <div id="game-warn-mode"
         class="text-center"
         click-game-warn-mode>
      <div class="warn-mode-name">Mode</div>
      <div class="warn-reason">Reason</div>
    </div>
    <div id="selection-osd"
         ng-include="'partials/game/selectionOsd.html'"
         click-game-selection-detail>
    </div>
    <div id="viewport">
      <svg id="map"
           click-game-map
           click-game-layers
           viewBox="0 0 480 480">
        <defs>
          <filter id="aura-filter"
                  x="-50%" y="-50%"
                  width="200%" height="200%">
            <feGaussianBlur in="SourceGraphic"
                            stdDeviation="2"/>
          </filter>
          <marker id="aoe-direction-end"
                  markerWidth="6"
                  markerHeight="8"
                  refx="6"
                  refy="4"
                  orient="auto">
            <polygon points="0,8 6,4 0,0"
                     style="
                            fill:#0F0;
                            "
            />
          </marker>
          <marker id="ruler-start"
                  markerWidth="6" markerHeight="8"
                  refx="0" refy="4"
                  orient="auto">
            <polygon points="6,8 0,4 6,0"
                     style="
                            fill:#0EE;
                            "
            />
            <line x1="0" y1="1" x2="0" y2="7"
                  style="
                         stroke:#0CC;
                         stroke-width:2px;
                         "
            />
          </marker>
          <marker id="ruler-end"
                  markerWidth="6" markerHeight="8"
                  refx="6" refy="4"
                  orient="auto">
            <polygon points="0,8 6,4 0,0"
                     style="
                            fill:#0EE;
                            "
            />
            <line x1="6" y1="1" x2="6" y2="7"
                  style="
                         stroke:#0CC;
                         stroke-width:2px;
                         "
            />
          </marker>
        </defs>
        <g id="game-board"
           ng-show="game.layers | gameLayers:'isDisplayed':'b'">
          <image id="board-preview"
                 x="0" y="0" width="480" height="480"
                 xlink:href="{{game.board.preview || ''}}" />
          <image id="board-view"
                 x="0" y="0" width="480" height="480"
                 xlink:href="{{game.board.img || ''}}" />
        </g>
        <g id="game-deploiement"
           ng-show="game.layers | gameLayers:'isDisplayed':'d'"
           ng-include="'partials/game/deploiement.html'">
        </g>
        <g id="game-scenario"
           ng-show="game.layers | gameLayers:'isDisplayed':'s'"
           ng-include="'partials/game/scenario.html'">
        </g>
        <g id="game-templates-locked"
           ng-show="game.layers | gameLayers:'isDisplayed':'t'"
           click-game-templates-list="locked">
        </g>
        <g id="game-under-models"
           ng-show="game.layers | gameLayers:'isDisplayed':'m'">
        </g>
        <g id="game-models-locked"
           ng-show="game.layers | gameLayers:'isDisplayed':'m'"
           click-game-models-list="locked">
        </g>
        <g id="game-models"
           ng-show="game.layers | gameLayers:'isDisplayed':'m'"
           click-game-models-list="active">
        </g>
        <g id="game-over-models"
           ng-show="game.layers | gameLayers:'isDisplayed':'m'">
        </g>
        <g id="game-templates"
           ng-show="game.layers | gameLayers:'isDisplayed':'t'"
           click-game-templates-list="active">
        </g>
        <g id="game-ruler"
           click-game-ruler>
        </g>
        <g id="game-create-models">
          <g ng-repeat="(index, model) in create.model.models"
             click-game-create-model>
          </g>
        </g>
        <g  id="game-create-templates"
            click-game-create-template>
        </g>
        <rect id="game-dragbox"
              click-game-dragbox>
        </rect>
      </svg>
    </div>
  </div>
  <div id="menu">
    <button id="menu-toggle"
            class="btn btn-default"
            title="Toggle menu">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    <div id="menu-content">
      <p>
        <strong>Player 1:</strong> {{game | game:'playerName':'p1'}}
        <strong>VS</strong>
        <strong>Player 2:</strong> {{game | game:'playerName':'p2'}}
        <form class="form-inline"
              ng-show="game | gameConnection:'active'"
              ng-submit="doInvitePlayer()">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="submit"
                        class="btn btn-default">
                  Invite Player
                </button>
              </span>
              <select class="form-control"
                      ng-options="u.stamp as (u.name | capitalize) for u in user.connection.users"
                      ng-model="invite.player"
                      required="required">
              </select>
            </div>
          </div>
        </form>
      </p>
      <ul class="nav nav-tabs">
        <li class="{{stateIs('game.main') ? 'active' : ''}}"
            ng-click="goToState('^.main')">
          <a>Main</a>
        </li>
        <li class="{{stateIs('game.model') ? 'active' : ''}}"
            ng-click="goToState('^.model')">
          <a>Model</a>
        </li>
        <li class="{{stateIs('game.setup') ? 'active' : ''}}"
            ng-click="goToState('^.setup')">
          <a>Setup</a>
        </li>
        <li class="{{stateIs('game.log') ? 'active' : ''}}"
            ng-click="goToState('^.log')">
          <a>Log</a>
        </li>
        <li class="{{stateIs('game.save') ? 'active' : ''}}"
            ng-click="goToState('^.save')">
          <a>Save</a>
        </li>
        <li class="{{stateIs('game.help') ? 'active' : ''}}"
            ng-click="goToState('^.help')">
          <a>Help</a>
        </li>
        <li ng-click="goToState('lounge')">
          <a>Lounge</a>
        </li>
      </ul>
      <div ui-view
           id="menu-view"
           class="{{currentModeIs('CreateTemplate') ? 'disabled' : ''}}">
      </div>
    </div>
  </div>
</div>
