<div id="lounge"
     class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">{{::user_desc}}</h4>
    </div>
    <div class="panel-body">
      Status : Offline
    </div>
  </div>
  
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">Local games</h4>
    </div>
    <div class="game-list panel-body">
      <div ng-repeat="(i,g) in local_games"
           class="clickable
                  {{isInLocalGamesSelection(i) ? 'bg-info':''}}
                  "
           ng-click="setLocalGamesSelection(i)">
        {{::g | game:'description'}}
      </div>
    </div>
    <div class="panel-footer">
      <form>
        <div class="btn-group">
          <button type="button"
                  class="btn btn-default"
                  ng-click="doCreateLocalGame()">
            New Game
          </button>
          <button type="button"
                  class="btn btn-default"
                  ng-click="doLoadLocalGame()"
                  ng-disabled="localGamesSelectionIsEmpty()">
            Load Game
          </button>
          <button type="button"
                  class="btn btn-default"
                  ng-click="doDeleteLocalGame(index)"
                  ng-disabled="localGamesSelectionIsEmpty()">
            Delete Game
          </button>
        </div>
        <div class="form-group">
          <label for="import-file">
            Import game file :
          </label>
          <input class="form-control"
                 id="import-file"
                 type="file"
                 multiple
                 ea-file="doOpenLocalGameFile(file)" />
        </div>
      </form>
    </div>
  </div>
</div>
