<div>
  <div ng-show="game | gameConnection:'active'"
       class="panel panel-info">
    <div class="panel-heading">Chat</div>
    <div class="panel-content">
      <click-game-chat-box>
      </click-game-chat-box>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Tools</div>
    <div class="panel-content">
      <div class="btn-group">
        <button class="btn {{
                       currentModeIs('Ruler') ?
                       'btn-primary' : 'btn-default'
                       }}"
                title="{{action_bindings['enterRulerMode'] || ''}}"
                ng-click="doUseRuler()">
          Use<br />Ruler
        </button>
        <button class="btn {{
                       (state.game.ruler | gameRuler:'isDisplayed') ?
                       'btn-primary' : 'btn-default'
                       }}"
                ng-click="doToggleShowRuler()">
          Show<br />Ruler
        </button>
      </div>
      <div class="btn-group">
        <button class="btn {{
                       currentModeIs('LoS') ?
                       'btn-primary' : 'btn-default'
                       }}"
                title="{{action_bindings['enterLosMode'] || ''}}"
                ng-click="doUseLos()">
          Use<br />LoS
        </button>
        <button class="btn {{
                       (state.game.los | gameLos:'isDisplayed') ?
                       'btn-primary' : 'btn-default'
                       }}"
                ng-click="doToggleShowLos()">
          Show<br />LoS
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default"
                ng-click="doCreateTemplate('aoe')">
          New<br />AoE
        </button>
        <button class="btn btn-default"
                ng-click="doCreateTemplate('spray')">
          New<br />Spray
        </button>
        <button class="btn btn-default"
                ng-click="doCreateTemplate('wall')">
          New<br />Wall
        </button>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Dice</div>
    <div class="panel-content">
      <click-game-dice-box>
      </click-game-dice-box>
    </div>
  </div>
</div>
