/**************************
  General
***************************/
input.ng-invalid-required {
    border-color: #A94442;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

ul.nav-tabs li {
    cursor: pointer;
}

/******************************************************/
/* prompt
/******************************************************/

.prompt-mask {
    z-index:2000;
    background-color:black;
    opacity:0.5;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
.prompt-container {
    z-index:2010;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
.prompt-panel {
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
    max-width:300px;
}

.section {
    text-align:center;
    font-weight:bold;
    background-color:#CCC;
    margin-bottom:10px;
}

/**************************
  Game View
***************************/
#game #gameview {
    position: relative;
    background-color: blue;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}

#game #gameview.resizable {
    float: left;
    resize: horizontal;
}

#game #viewport {
    background-color: #999;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

/**************************
  Menu
***************************/
#game #menu {
    display: block !important;
    background-color: white;
    overflow: auto;
    height:100vh;
}

#game #menu.hidden {
    position: absolute;
    top: 0;
    right: 0;
    overflow: visible;
}

#game #menu-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 2000;
    padding: 8px;
}

#game #menu-toggle .glyphicon-chevron-right {
    display: inline;
}
#game #menu-toggle .glyphicon-chevron-left {
    display: none;
}
#game #menu.hidden #menu-toggle .glyphicon-chevron-right {
    display: none;
}
#game #menu.hidden #menu-toggle .glyphicon-chevron-left {
    display: inline;
}

#game #menu-content {
    min-width:400px;
}

#game #menu-view {
    padding:3px;
}

#game #menu.hidden #menu-content {
    display: none;
}

/**************************
  OSD
***************************/
#game #zoom-osd {
    position: absolute;
    left: 3px;
    bottom: 16px;
    opacity: 0.75;
    z-index: 1000;
}

#game #cmd-osd {
    position: absolute;
    right: 15px;
    top: 0;
    max-height: 98vh;
    overflow: hidden;
    z-index: 1000;
    background-color: #EEE;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#game #cmd-osd .scroll-container {
    margin-right: -15px;
    padding-right: 15px;
    min-width: 115px;
    max-height: 98vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#game #cmd-osd button {
    min-width: 100px;
}

#game #game-loading {
    display: none;
    font-size: 1.5em;
    position:absolute;
    z-index:1000;
    width: 100%;
    opacity: 0.8;
}

#game #game-warn-mode {
    position:absolute;
    top: 50%;
    width: 100%;
    z-index:1000;
    opacity: 0.8;
    color: #DDD;
    background-color: #C00;
    font-size: 3em;
}

#selection-osd {
    position:absolute;
    z-index: 2000;
}
#selection-osd .panel {
    margin-bottom:0px;
}
#selection-osd .panel-heading {
    cursor:pointer;
}
#selection-osd .panel-content {
    padding:10px;
    min-width: 300px;
}

/**************************
  Scenario
***************************/

#game-scenario .zone {
    fill:#CC0;
    fill-opacity:0.3;
    stroke:#990;
    stroke-width:0.5px;
}

#game-scenario .objective {
    fill:#CC0;
    fill-opacity:0.8;
    stroke:#C90;
    stroke-width:0.5px;
}

#game-scenario .area {
    fill:none;
    stroke:#990;
    stroke-width:0.5px;
}

/**************************
  Models
***************************/

.create-model {
    fill: #F11;
    opacity: 0.8;
    pointer-events: none;
}

.model-base,
.model-edge,
.model-los,
.model-los-selection {
    stroke: black;
    stroke-width: 0.5px;
    pointer-events: none;
}
.model-image {
    pointer-events: none;
}
.model-base {
    fill-opacity: 1.0;
    pointer-events: visible;
}
.model-edge {
    fill: transparent;
}
.model-los-selection {
    visibility: hidden;
}

.remote-selection .model-edge,
.remote-selection .model-los-selection {
    stroke-width: 0.75px;
    stroke: #FFF;
}
.remote-selection .model-los-selection {
    visibility: visible;
}
.local-selection .model-edge,
.local-selection .model-los-selection {
    stroke-width: 0.75px;
    stroke: #0F0;
}
.local-selection .model-los-selection {
    visibility: visible;
}

.ruler-origin .model-edge {
    stroke-width: 1.25px;
    stroke: #F90;
}
.ruler-target .model-edge {
    stroke-width: 1.25px;
    stroke: #F00;
}
.ruler-target-reached .model-edge {
    stroke: #F0F;
}

.model-damage-bar {
    stroke-width: 1px;
    pointer-events: none;
}

.model-ctrl-area {
    fill: #0FF;
    fill-opacity: 0.15;
    stroke: #099;
    stroke-width: 1px;
    pointer-events: none;
}
.model-area {
    fill:#9F9;
    fill-opacity:0.15;
    stroke:#6F6;
    stroke-width:0.5px;
    pointer-events: none;
}

.model-melee {
    stroke:#000;
    stroke-width:0.5px;
    fill: #000;
    fill-opacity: 0.3;
    pointer-events: none;
}

/**************************
  Templates
***************************/

#create-template-aoe {
    fill: #F11;
    opacity: 0.8;
    pointer-events: none;
    visibility: hidden;
}
#create-template-wall {
    fill: #F11;
    opacity: 0.8;
    pointer-events: none;
    visibility: hidden;
}
#create-template-spray {
    fill: #F11;
    opacity: 0.8;
    pointer-events: none;
    visibility: hidden;
}

#game .template {
    fill:#FC3;
    stroke: #C60;
    stroke-width:0.5px;
    pointer-events:visible;
}
#game-templates .template {
    fill-opacity:0.5;
}
#game-templates-locked .template {
    fill-opacity:0.2;
}

#game .template-aoe-direction {
    stroke-width:0.75px;
    pointer-events: none;
    stroke: #0F0;
}
#game #game-templates-locked .template-aoe-direction {
    stroke-width:0px;
}

#game .wall {
    fill:#CCC;
    fill-opacity:0.6;
    stroke-width:0.5px;
    pointer-events:visible;
}
#game-templates-locked .wall {
    fill-opacity:1.0;
}

#game g.label {
    pointer-events: none;
}

#game g.label rect {
    fill:#333;
    fill-opacity:0.7;
}

#game g.label text {
    fill:white;
    text-anchor:middle;
    font-size:6px;
    font-family:monospace;
    -webkit-user-select: none;
    -moz-user-select:none;
}

#game g.counter text {
    font-size:9px;
    font-weight:bold;
    font-family:Verdana, sans-serif;
}

/**************************
  Ruler
***************************/

#game-ruler {
    pointer-events: none;
}

#game-ruler line {
    stroke-width:1px;
    marker-start:url(#ruler-start);
    marker-end:url(#ruler-end);
    stroke: #0EE;
}

/**************************
  Dragbox
***************************/

#game-dragbox {
    pointer-events: none;
    stroke-width:1px;
    stroke: #00F;
    fill: none;
}

/**************************
  Damage
***************************/

.damage-box {
    width:20px;
    height:20px;
    padding: 0;
    border:1px solid black;
    margin: 0;
    text-align:center;
    background-color: white;
}
div.damage-box {
    display:inline-block;
}
.damage-box.mark {
    background-color: #999;
}
.damage-box.none {
    background-color: black;
}
.damage-warrior .damage-box:nth-child(5n) {
    width:25px;
    border-right: 5px solid black;
}
.damage-grid .damage-box:nth-child(6n) {
    border-right: 5px solid black;
}
.damage-grid .damage-box:nth-child(6n+1) {
    width:25px;
}
.damage-warrior .damage-box:last-child {
    width:20px;
    border-right: 1px solid black;
}
.damage-grid .damage-box:first-child {
    width:20px;
}
.damage-grid .damage-box:last-child {
    border-right: 1px solid black;
}
.damage-grid {
    border-collapse:collapse;
    text-align:center;
}
.damage-col-header {
    width:20px;
    height:20px;
}

/**************************
  Log Menu
***************************/
#game #log-replay-list {
    max-height: 30vh;
    overflow-y: auto;
    border-bottom: 1px solid #EEE;
    font-style: italic;
    color: #999;
}

#game #log-command-list {
    max-height: 30vh;
    overflow-y: auto;
}

#game #log-command-list div:first-child {
    background-color: #dff0d8;
}

/**************************
  Main Menu
***************************/
#game #main-dice-list {
    max-height: 15vh;
    overflow-y: auto;
}
