#game {
    #zoom-osd {
        z-index: $osd-zindex;
        position: absolute;
        left: 3px;
        bottom: 16px;
        opacity: 0.75;
    }

    $cmd-button-width: 100px;
    #cmd-osd {
        z-index: $osd-zindex;
        position: absolute;
        right: 15px;
        top: 0;
        max-height: 98vh;
        overflow: hidden;
        background-color: #EEE;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;

        .scroll-container {
            @extend %scrollbox-y;
            margin-right: -$scrollbar-width;
            padding-right: $scrollbar-width;
            min-width: ($cmd-button-width+$scrollbar-width);
            max-height: 98vh;
            overflow-x: hidden;

            .mode-title {
                min-height: 3em;
            }
        }
        button {
            min-width: $cmd-button-width;
        }
    }

    #game-loading {
        display: none;
        z-index: $osd-zindex;
        position: absolute;
        width: 100%;
        font-size: 1.5em;
        opacity: 0.8;
    }

    #game-warn-mode {
        z-index: (3*$osd-zindex);
        position: absolute;
        top: 50%;
        width: 100%;
        color: $warn-text-color;
        background-color: $warn-fill-color;
        opacity: 0.8;

        .warn-mode-name {
            font-size: 3em;
            font-weight: bold;
        }
        .warn-reason {
            font-size: 2em;
        }
    }

    #selection-osd {
        z-index: (2*$osd-zindex);
        position: absolute;

        .panel {
            margin-bottom:0px;
        }
        .panel-heading {
            @extend .clickable;
        }
        .panel-content {
            min-width: 300px;
            padding: 10px;
        }
    }

    $dice-osd-width: 310px;
    #dice-osd {
        z-index: $osd-zindex;
        display: none;
        max-width: $dice-osd-width;
        background-color: rgba(255,255,255,0.6);
        position: absolute;
        top: 2px;
        right: ($cmd-button-width+$scrollbar-width+30);
        border-radius: 5px;
        &.show {
            display: initial
        }
        
        .dice-list {
            @extend %scrollbox-y;
            overflow-x: hidden;
            max-height: 4.2em;
        }            
    }
    #chat-osd {
        z-index: $osd-zindex;
        display: none;
        max-width: 30em;
        background-color: rgba(255,255,255,0.6);
        position: absolute;
        top: 2px;
        right: ($dice-osd-width+$cmd-button-width+$scrollbar-width+30);
        border-radius: 5px;
        &.show {
            display: initial
        }

        .chat-list {
            @extend %scrollbox-y;
            overflow-x: hidden;
            max-height: 4.2em;
        }            
    }
}
