<div id="settings-bindings">
  <form>
    <div class="form-group">
      <label>For mode :</label>
      <select class="form-control"
              ng-options="m as m for m in modes"
              ng-model="mode">
      </select>
    </div>
  </form>
  <table class="table">
    <tr>
      <th>Action</th>
      <th>Default</th>
      <th>Current</th>
    </tr>
    <tr ng-repeat="a in getBindingsKeys(mode)"
        class="{{
               edit_settings.Bindings[mode][a] &&
               edit_settings.Bindings[mode][a] !== state.settings.default.Bindings[mode][a] ?
               'modified' : ''
               }}">
      <td class="vertical-center">{{::a}}</td>
      <td class="vertical-center">{{::state.settings.default.Bindings[mode][a]}}</td>
      <td>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 placeholder="{{::state.settings.default.Bindings[mode][a]}}"
                 ng-model="edit_settings.Bindings[mode][a]" />
          <span class="input-group-btn">
            <button class="btn btn-default"
                    type="button"
                    ng-click="doRecordBinding(a)"
                    ng-disabled="recording">
              <span class="glyphicon glyphicon-record">
              </span>
            </button>
          </span>
        </div>
        <span class="hint"
              ng-show="recording === a">
          Recording...
        </span>
      </td>
    </tr>
  </table>
</div>
