#game {
    .damage-box {
        width:20px;
        height:20px;
        padding: 0;
        border:1px solid black;
        margin: 0;
        text-align:center;
        background-color: white;
        
        &.mark {
            background-color: #999;
        }
        &.none {
            background-color: black;
        }
    }
    div.damage-box {
        display:inline-block;
    }
    .damage-warrior {
        .damage-box {
            &:nth-child(5n) {
                width:25px;
                border-right: 5px solid black;
            }
            &:last-child {
                width:20px;
                border-right: 1px solid black;
            }
        }
    }
    .damage-grid {
        border-collapse:collapse;
        text-align:center;

        .damage-box {
            &:nth-child(6n) {
                border-right: 5px solid black;
            }
            &:nth-child(6n+1) {
                width:25px;
            }
            &:first-child {
                width:20px;
            }
            &:last-child {
                border-right: 1px solid black;
            }
        }
    }
    .damage-col-header {
        width:20px;
        height:20px;
    }
    .edit-damage {
        z-index: (2*$osd-zindex);
        position: absolute;
        border: 1px solid grey;
        border-radius: 4px;
        background-color: rgba(255,255,255,0.75);
    }
}
