<div>
  <strong>Total : </strong>
  <span ng-show="damage.state">{{damage.state.dmg.t}} / </span>{{damage.info.total}}
  <span ng-if="damage.info.field">
    + <span ng-show="damage.state">{{damage.state.dmg.f}} / </span>{{damage.info.field}}
  </span>
  <button class="btn btn-default"
          ng-show="damage.state"
          ng-click="damage.doResetDamage()">
    Reset
  </button>
  <div ng-if="damage.info.type == 'warrior'"
       class="damage-warrior">
    <div ng-repeat="i in damage.range(damage.info.n)"
         class="
         damage-box
         {{ damage.warriorBoxClass(i) }}
         "
         ng-click="damage.doWarriorDamage(i+1)">
    </div>
  </div>
  <table class="damage-grid"
         ng-if="damage.info.field">
    <tr ng-repeat="line in [0, 1]">
      <td ng-repeat="col in damage.range(damage.info.field/2)"
          class="
          damage-box
          {{ damage.fieldBoxClass(col, line) }}
          "
          ng-click="damage.doFieldDamage(line * damage.info.field/2 + col + 1)">
        F
      </td>
    </tr>
  </table>
  <table ng-if="damage.info.type === 'jack' ||
                damage.info.type === 'gargantuan' ||
                damage.info.type === 'beast'
                "
         class="damage-grid">
    <tr>
      <td ng-repeat="col in ['1','2','3','4','5','6']"
          class="damage-col-header"
          ng-click="damage.doGridColDamage(col)">
        {{::col}}
      </td>
    </tr>
    <tr ng-repeat="line in damage.range(damage.info.depth)">
      <td ng-repeat="col in ['1','2','3','4','5','6']"
          class="
          damage-box
          {{ damage.gridBoxClass(col, line) }}
          "
          ng-click="damage.doGridDamage(line, col)">
        {{
        (!damage.info[col][line] || damage.info[col][line] === 'b')
        ? ' '
        : damage.info[col][line].toUpperCase()
        }}
      </td>
    </tr>
  </table>
  <table ng-if="damage.info.type === 'colossal'"
         class="damage-grid">
    <tr>
      <td ng-repeat="col in ['L1','L2','L3','L4','L5','L6','R1','R2','R3','R4','R5','R6']"
          class="damage-col-header"
          ng-click="damage.doGridColDamage(col)">
        {{::col}}
      </td>
    </tr>
    <tr ng-repeat="line in [0,1,2,3,4,5]">
      <td ng-repeat="col in ['L1','L2','L3','L4','L5','L6','R1','R2','R3','R4','R5','R6']"
          class="
          damage-box
          {{ damage.gridBoxClass(col, line) }}
          "
          ng-click="damage.doGridDamage(line, col)">
        {{
        (!damage.info[col][line] || damage.info[col][line] === 'b')
        ? ' '
        : damage.info[col][line].toUpperCase()
        }}
      </td>
    </tr>
  </table>
</div>
