<div id="game"
     click-game-page>
  <div id="gameview"
       class="resizable">
    <div id="zoom-osd"
         class="btn-group-vertical"
         ng-include="'app/components/game/zoom_osd/zoom_osd.html'">
    </div>
    <!-- <div id="cmd-osd" -->
    <!--      ng-include="'app/components/game/cmd_osd/cmdOsd.html'"> -->
    <!-- </div> -->
    <div id="game-loading"
         class="text-center bg-primary"
         click-game-loading>
      <strong>Loading...</strong>
    </div>
    <div id="game-action-error"
         class="text-center"
         click-game-action-error>
      <div class="action-error-mode-name">Mode</div>
      <div class="action-error-reason">Reason</div>
    </div>
    <!-- <div id="selection-osd" -->
    <!--      ng-include="'app/components/game/selection_osd/selection_osd.html'" -->
    <!--      click-game-selection-detail> -->
    <!-- </div> -->
    <!-- <div id="dice-osd"> -->
    <!--   <click-game-dice-box> -->
    <!--   </click-game-dice-box> -->
    <!-- </div> -->
    <!-- <div id="chat-osd"> -->
    <!--   <click-game-chat-box> -->
    <!--   </click-game-chat-box> -->
    <!-- </div> -->
    <!-- <div class="edit-label" -->
    <!--      click-game-edit-label> -->
    <!-- </div> -->
    <!-- <div class="edit-damage" -->
    <!--      click-game-edit-damage> -->
    <!-- </div> -->
    <div id="viewport">
      <svg id="map"
           click-game-map
           viewBox="0 0 480 480">
        <defs>
          <filter id="aura-filter"
                  x="-50%" y="-50%"
                  width="200%" height="200%">
            <feGaussianBlur in="SourceGraphic"
                            stdDeviation="2"/>
          </filter>
          <filter id="state-aura-filter"
                  x="-75%" y="-75%"
                  width="250%" height="250%">
            <feGaussianBlur in="SourceGraphic"
                            stdDeviation="4"/>
          </filter>
          <marker id="aoe-direction-end"
                  markerWidth="6"
                  markerHeight="8"
                  refx="6"
                  refy="4"
                  orient="auto">
            <polygon points="0,8 6,4 0,0"
                     style="
                            fill:#0F0;
                            "
            />
          </marker>
          <marker id="ruler-start"
                  markerWidth="6" markerHeight="8"
                  refx="0" refy="4"
                  orient="auto">
            <polygon points="6,8 0,4 6,0"
                     style="
                            fill:#0EE;
                            "
            />
            <line x1="0" y1="1" x2="0" y2="7"
                  style="
                         stroke:#0CC;
                         stroke-width:2px;
                         "
            />
          </marker>
          <marker id="ruler-end"
                  markerWidth="6" markerHeight="8"
                  refx="6" refy="4"
                  orient="auto">
            <polygon points="0,8 6,4 0,0"
                     style="
                            fill:#0EE;
                            "
            />
            <line x1="6" y1="1" x2="6" y2="7"
                  style="
                         stroke:#0CC;
                         stroke-width:2px;
                         "
            />
          </marker>
          <!-- <clipPath id="los-clip"> -->
          <!--   <polygon click-game-los-clip> -->
          <!--   </polygon> -->
          <!-- </clipPath> -->
        </defs>
        <!-- <g id="game-board" -->
        <!--    ng-show="state.game.layers | gameLayers:'isDisplayed':'b'"> -->
        <!--   <image id="board-preview" -->
        <!--          x="0" y="0" width="480" height="480" -->
        <!--          xlink:href="{{state.game.board.preview || ''}}"> -->
        <!--   </image> -->
        <!--   <image id="board-view" -->
        <!--          x="0" y="0" width="480" height="480" -->
        <!--          xlink:href="{{state.game.board.img || ''}}"> -->
        <!--   </image> -->
        <!-- </g> -->
        <!-- <g id="game-terrains-locked" -->
        <!--    ng-show="state.game.layers | gameLayers:'isDisplayed':'b'" -->
        <!--    click-game-terrains-list="locked"> -->
        <!-- </g> -->
        <!-- <g id="game-terrains" -->
        <!--    ng-show="state.game.layers | gameLayers:'isDisplayed':'b'" -->
        <!--    click-game-terrains-list="active"> -->
        <!-- </g> -->
        <g id="game-deploiement"
           ng-show="state.game.layers | gameLayers:'isDisplayed':'d'"
           ng-include="'app/components/game/deploiement/deploiement.html'">
        </g>
        <!-- <g id="game-scenario" -->
        <!--    ng-show="state.game.layers | gameLayers:'isDisplayed':'s'" -->
        <!--    ng-include="'app/components/game/scenario.html'"> -->
        <!-- </g> -->
        <!-- <g id="game-templates-locked" -->
        <!--    ng-show="state.game.layers | gameLayers:'isDisplayed':'t'" -->
        <!--    click-game-templates-list="locked"> -->
        <!-- </g> -->
        <!-- <g id="game-under-models" -->
        <!--    ng-show="state.game.layers | gameLayers:'isDisplayed':'m'"> -->
        <!--   <g click-game-los-refresh -->
        <!--      style="clip-path: url(#los-clip);"> -->
        <!--     <polygon ng-repeat="envelope in state.game.los.computed.shadow" -->
        <!--              click-game-los-darkness -->
        <!--              class="los-shadow"> -->
        <!--     </polygon> -->
        <!--     <polygon ng-repeat="envelope in state.game.los.computed.darkness" -->
        <!--              click-game-los-darkness -->
        <!--              class="los-darkness"> -->
        <!--     </polygon> -->
        <!--   </g> -->
        <!-- </g> -->
        <!-- <g id="game-models-locked" -->
        <!--    ng-show="state.game.layers | gameLayers:'isDisplayed':'m'" -->
        <!--    click-game-models-list="locked"> -->
        <!-- </g> -->
        <!-- <g id="game-models" -->
        <!--    ng-show="state.game.layers | gameLayers:'isDisplayed':'m'" -->
        <!--    click-game-models-list="active"> -->
        <!-- </g> -->
        <!-- <g id="game-over-models" -->
        <!--    ng-show="state.game.layers | gameLayers:'isDisplayed':'m'"> -->
        <!-- </g> -->
        <!-- <g id="game-templates" -->
        <!--    ng-show="state.game.layers | gameLayers:'isDisplayed':'t'" -->
        <!--    click-game-templates-list="active"> -->
        <!-- </g> -->
        <!-- <g id="game-ruler" -->
        <!--    click-game-ruler> -->
        <!-- </g> -->
        <!-- <g id="game-los" -->
        <!--    click-game-los> -->
        <!-- </g> -->
        <!-- <g id="game-create-terrains"> -->
        <!--   <g ng-repeat="(index, terrain) in state.create.terrain.terrains" -->
        <!--      click-game-create-terrain> -->
        <!--   </g> -->
        <!-- </g> -->
        <!-- <g id="game-create-models"> -->
        <!--   <g ng-repeat="(index, model) in state.create.model.models" -->
        <!--      click-game-create-model> -->
        <!--   </g> -->
        <!-- </g> -->
        <!-- <g id="game-create-templates"> -->
        <!--   <g ng-repeat="(index, terrain) in state.create.template.templates" -->
        <!--      click-game-create-template> -->
        <!--   </g> -->
        <!-- </g> -->
        <!-- <rect id="game-dragbox" -->
        <!--       click-game-dragbox> -->
        <!-- </rect> -->
      </svg>
    </div>
  </div>
  <div id="menu">
    <button id="menu-toggle"
            class="btn btn-default"
            title="Toggle menu">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    <div id="menu-content">
      <p>
        <strong>{{state.game | game:'description'}}</strong>
        <!-- <form class="form-inline" -->
        <!--       ng-show="state.game | gameConnection:'active'" -->
        <!--       ng-submit="doInvitePlayer()"> -->
        <!--   <div class="form-group"> -->
        <!--     <div class="input-group"> -->
        <!--       <span class="input-group-btn"> -->
        <!--         <button type="submit" -->
        <!--                 class="btn btn-default"> -->
        <!--           Invite Player -->
        <!--         </button> -->
        <!--       </span> -->
        <!--       <select class="form-control" -->
        <!--               ng-options="u.stamp as (u.name | capitalize) for u in user.connection.users" -->
        <!--               ng-model="invite.player" -->
        <!--               required="required"> -->
        <!--       </select> -->
        <!--     </div> -->
        <!--   </div> -->
        <!-- </form> -->
      </p>
      <ul class="nav nav-tabs">
        <li class="{{app.stateIs('game.main') ? 'active' : ''}}"
            ng-click="app.goToState('^.main')">
          <a class="{{ game.hints.go_to_main ? 'go-to-hint' : ''}}">Main</a>
        </li>
        <!-- <li class="{{stateIs('game.model') ? 'active' : ''}}" -->
        <!--     ng-click="goToState('^.model')"> -->
        <!--   <a>Model</a> -->
        <!-- </li> -->
        <li class="{{app.stateIs('game.setup') ? 'active' : ''}}"
            ng-click="app.goToState('^.setup')">
          <a>Setup</a>
        </li>
        <li class="{{app.stateIs('game.log') ? 'active' : ''}}"
            ng-click="app.goToState('^.log')">
          <a>Log</a>
        </li>
        <li class="{{app.stateIs('game.save') ? 'active' : ''}}"
            ng-click="app.goToState('^.save')">
          <a>Save</a>
        </li>
        <!-- <li class="{{stateIs('game.help') ? 'active' : ''}}" -->
        <!--     ng-click="goToState('^.help')"> -->
        <!--   <a>Help</a> -->
        <!-- </li> -->
        <!-- <li ng-show="user | user:'online'" -->
        <!--     class="{{stateIs('game.online') ? 'active' : ''}}" -->
        <!--     ng-click="goToState('^.online')"> -->
        <!--   <a class="{{ hints.go_to_online ? 'go-to-hint' : ''}}">Online</a> -->
        <!-- </li> -->
        <li ng-click="app.goToState('lounge')">
          <a>Lounge</a>
        </li>
      </ul>
      <div ui-view
           id="menu-view"
           class="{{game.menuDisabled() ? 'disabled' : ''}}">
      </div>
    </div>
  </div>
  <!-- <click-game-mail-notification> -->
  <!-- </click-game-mail-notification> -->
  <!-- <click-bad-dice-notification> -->
  <!-- </click-bad-dice-notification> -->
</div>
