<div class="panel panel-info">
  <div class="panel-heading"
       ng-click="selection.doClose()">
    <button class="close">
      <span>&times;</span>
    </button>
    <h4 class="panel-title">
      {{selection.element.type}} Template
    </h4>
  </div>
  <div class="panel-content">
    <form name="selection-label"
          ng-submit="selection.doSetMaxDeviation()"
          ng-show="selection.element.type === 'aoe'">
      <div class="form-group">
        <label for="new-deviation">
          Max Deviation
        </label>
        <input id="new-deviation"
               class="form-control"
               type="number"
               step="any"
               min="0"
               ng-model="selection.edit.max_deviation"
               placeholder="0" />
      </div>
    </form>
    <form ng-submit="selection.doAddLabel()">
      <div class="form-group">
        <label for="new-label">
          Label
        </label>
        <input id="new-label"
               class="form-control"
               type="text"
               ng-model="selection.edit.label"
               placeholder="New Label" />
      </div>
      <button type="button"
              class="btn btn-default"
              ng-repeat="l in selection.element.l"
              ng-click="selection.doRemoveLabel(l)">
        {{::selection.labelDisplay(l)}} <span>&times;</span>
      </button>
    </form>
  </div>
</div>
