<div class="panel panel-info">
  <div class="panel-heading"
       ng-click="selection.doClose()">
    <button class="close">
      <span>&times;</span>
    </button>
    <h4 class="panel-title">
      {{selection.info.name}}
    </h4>
  </div>
  <div class="panel-content">
    <div ng-if="selection.info.unit_name">
      <strong>Unit :</strong>
      {{selection.info.unit_name}}
    </div>
    <div>
      <strong>Name :</strong>
      {{selection.info.name}}
    </div>
    <div>
      <strong>Created By :</strong>
      {{selection.element.user}}
    </div>
    <div>
      <strong>Class :</strong>
      {{selection.info.type}} - {{selection.info.base}}
    </div>
    <div ng-show="selection.info.fury">
      <strong>Fury :</strong>
      {{selection.info.fury}}
    </div>
    <div ng-show="selection.info.focus">
      <strong>Focus :</strong>
      {{selection.info.focus}}
    </div>
    <div class="hint clickable"
         ng-hide="selection.show.info"
         ng-click="selection.show.info = true">
      Show Info...
    </div>
    <div class="bg-info"
         ng-show="selection.show.info">
      <div ng-repeat="d in selection.info.desc">
        <strong>{{d[0]}}</strong>
        {{d[1]}}
      </div>
    </div>
    <form ng-submit="selection.doAddLabel()">
      <div class="form-group">
        <label for="new-label">
          Label
        </label>
        <input id="new-label"
               class="form-control"
               type="text"
               ng-model="selection.edit.label"
               placeholder="New Label" />
      </div>
      <button type="button"
              class="btn btn-default"
              ng-repeat="l in selection.element.l"
              ng-click="selection.doRemoveLabel(l)">
        {{::selection.labelDisplay(l)}} <span>&times;</span>
      </button>
    </form>
    <div>
      <strong>Damage :</strong>
      <click-game-model-damage info="selection.info.damage"
                               state="selection.element">
      </click-game-model-damage>
    </div>
  </div>
</div>
