<div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        {{ user | user:'description' }} /
        {{ (user | user:'online') ? 'Online' : 'Offline' }}
        ( {{ user.state.stamp }} )
      </h4>
    </div>
    <div class="panel-body"
         ng-show="user | userConnection:'active'">
      <click-user-connection>
      </click-user-connection>
    </div>
    <!-- <div class="panel-footer"> -->
    <!--   <button type="button" -->
    <!--           class="btn btn-default" -->
    <!--           ng-click="doUserToggleOnline()"> -->
    <!--     Go {{ (user | user:'online') ? 'Offline' : 'Online' }} -->
    <!--   </button> -->
    <!-- </div> -->
  </div>
  <div class="panel panel-info"
       ng-show="user | userConnection:'active'">
    <div class="panel-heading">
      <h4 class="panel-title">Online Games</h4>
    </div>
    <div class="game-list panel-body">
      <click-games-list games="user.connection.games"
                        selection="online_games_selection"
                        current="game.public_stamp">
      </click-games-list>
    </div>
    <div class="panel-footer">
      <form>
        <div class="btn-group">
          <button type="button"
                  class="btn btn-default"
                  ng-click="doLoadOnlineGame()"
                  ng-disabled="online_games_selection.list.length <= 0">
            Watch Game
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
