<div id="settings-main">
  <div class="panel panel-info">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-import"></span>
      Import
    </div>
    <div class="panel-content">
      <form>
        <input class="form-control"
               id="import-file"
               type="file"
               multiple
               ea-file="doLoadSettingsFile(file)" />
      </form>
      <div class="error-list">
        <strong class="text-warning">{{load_settings_result}}</strong>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-export"></span>
      Export
    </div>
    <div class="panel-content">
      <a class="btn btn-default"
         ng-disabled="!state.exports.settings.url"
         ng-href="{{state.exports.settings.url}}"
         download="{{::state.exports.settings.name}}">
        Download Settings File
      </a>
    </div>
  </div>
  <button type="button"
          class="btn btn-default"
          ng-click="doResetSettings({})">
    Reset Settings
  </button>
</div>
