<div id="settings-main">
  <div class="panel panel-info">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-import"></span>
      Import
    </div>
    <div class="panel-content">
      <form>
        <input class="form-control"
               id="import-file"
               type="file"
               click-file="settings_main.doLoadSettingsFile(file)" />
      </form>
      <div class="error-list">
        <strong class="text-warning">
          {{settings_main.load_settings_result}}
        </strong>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-export"></span>
      Export
    </div>
    <div class="panel-content">
      <a class="btn btn-default"
         ng-disabled="!settings_main.export.url"
         ng-href="{{settings_main.export.url}}"
         download="{{::settings_main.export.name}}">
        Download Settings File
      </a>
    </div>
  </div>
  <button type="button"
          class="btn btn-default"
          ng-click="settings_main.doResetSettings({})">
    Reset Settings
  </button>
</div>
