<div id="settings-bindings">
  <form>
    <div class="form-group">
      <label>For mode :</label>
      <select class="form-control"
              ng-options="m as m for m in settings_misc.modes"
              ng-model="settings_misc.mode">
      </select>
    </div>
  </form>
  <table class="table">
    <tr>
      <th>Action</th>
      <th>Default</th>
      <th>Current</th>
    </tr>
    <tr ng-repeat="(a,b) in state.settings.default.Misc[settings_misc.mode]"
        class="{{
               settings.edit.Misc[settings_misc.mode][a] &&
               settings.edit.Misc[settings_misc.mode][a] !== b ?
               'modified' : ''
               }}">
      <td class="vertical-center">{{::a}}</td>
      <td class="vertical-center">{{::b}}</td>
      <td>
        <div class="input-group">
          <input type="number"
                 class="form-control"
                 placeholder="{{::b}}"
                 ng-model="settings.edit.Misc[settings_misc.mode][a]" />
        </div>
      </td>
    </tr>
  </table>
</div>
