<div>
  <div class="panel panel-info">
    <div class="panel-heading">Debug dump file</div>
    <div class="panel-body">
      <a ng-href="{{debug.url}}"
         download="{{::debug.name}}">
        Download Dump File
      </a>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Current Mode Bindings</div>
    <table class="table">
      <tr ng-repeat="bind in current_bindings">
        <td>
          <button class="btn btn-default"
                  ng-click="doModeAction(bind[0])">
            {{::bind[0]}}
          </button>
        </td>
        <td>{{::bind[1]}}</td>
        <td>
        </td>
      </tr>
    </table>
  </div>
</div>
