<div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>Command Log</strong>
    </div>
    <div class="panel-content">
      <button class="btn btn-default"
              title="{{action_bindings['commandUndoLast'] || ''}}"
              ng-disabled="game.commands.length === 0"
              ng-click="doModeAction('commandUndoLast')">
        Undo Last
      </button>
      <button class="btn btn-default"
              title="{{action_bindings['commandReplayNext'] || ''}}"
              ng-disabled="game.undo.length === 0"
              ng-click="doModeAction('commandReplayNext')">
        Replay Next
      </button>
      <div id="log-replay-list"
           click-log-replay-list>
        <div ng-repeat="(i,cmd) in game.undo.slice(-20) track by cmd.stamp">
          <span class="text-primary">[{{::cmd.user}}]</span>
          {{::cmd.type}} {{::cmd.desc}}
        </div>
      </div>
      <div id="log-command-list">
        <div ng-repeat="(i,cmd) in game.commands.slice(-20).reverse() track by cmd.stamp">
          <span class="text-primary">[{{::cmd.user}}]</span>
          {{::cmd.type}} {{::cmd.desc}}
        </div>
      </div>
    </div>
  </div>
</div>
