<div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>Create Model</strong>
    </div>
    <div class="panel-content">
      <form class="form-inline"
            name="board-map">
        <table>
          <tr>
            <th>Faction</th>
            <td>
              <select class="form-control"
                      ng-options="k as f.name for (k,f) in factions"
                      ng-model="faction"
                      ng-change="onFactionChange()">
              </select>
            </td>
          </tr>
          <tr>
            <th>Section</th>
            <td>
              <select class="form-control"
                      ng-options="k as k for (k,s) in factions[faction].models"
                      ng-model="section"
                      ng-change="onSectionChange()">
              </select>
            </td>
          </tr>
          <tr>
            <th>Entry</th>
            <td>
              <select class="form-control"
                      ng-options="k as e.name for (k,e) in factions[faction].models[section]"
                      ng-model="entry"
                      ng-change="onEntryChange()">
              </select>
            </td>
          </tr>
          <tr ng-show="factions[faction].models[section][entry].entries">
            <th>Type</th>
            <td>
              <select class="form-control"
                      ng-options="
                      k as k for (k,t) in
                      factions[faction].models[section][entry].entries
                      "
                      ng-model="type"
                      ng-change="onTypeChange()">
              </select>
            </td>
          </tr>
          <tr ng-show="factions[faction].models[section][entry].entries">
            <th>Model</th>
            <td>
              <select class="form-control"
                      ng-options="
                      k as m.name for (k,m) in
                      factions[faction].models[section][entry].entries[type]
                      "
                      ng-model="model"
                      ng-change="onModelChange()">
              </select>
            </td>
          </tr>
          <tr ng-show="getModel().ranges">
            <th>Size</th>
            <td>
              <select class="form-control"
                      ng-options="
                      s as s for (k,s) in
                      getModel().ranges
                      "
                      ng-model="repeat">
              </select>
            </td>
          </tr>
        </table>
      </form>
      <br />
      <table ng-show="getModel()">
        <tr ng-show="getModel() !== factions[faction].models[section][entry]">
          <th>Unit</th>
          <td>{{factions[faction].models[section][entry].name}}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{getModel().name}}</td>
        </tr>
        <tr>
          <th>Type</th>
          <td>{{getModel().type}}</td>
        </tr>
        <tr ng-show="getModel().fury">
          <th>Fury</th>
          <td>{{getModel().fury}}</td>
        </tr>
        <tr>
          <th>Base</th>
          <td>{{getModel().base}}</td>
        </tr>
        <tr>
          <th>Damage</th>
          <td>{{getModel().damage}}</td>
        </tr>
        <tr ng-show="getModel().img[0].link">
          <th>Image</th>
          <td><img width="150"
                   height="150"
                   ng-src="{{getModel().img[0].link}}" /></td>
        </tr>
      </table>
    </div>
    <div class="panel-footer">
      <button class="btn btn-default"
              ng-disabled="
              !getModel() ||
              currentModeIs('CreateModel')
              "
              ng-click="doCreateModel()">
        Create Model
      </button>
    </div>
  </div>
</div>
