<g click-game-scenario>
  <circle ng-repeat="c in game.scenario.circle"
          ng-attr-cx="{{::c.x}}"
          ng-attr-cy="{{::c.y}}"
          ng-attr-r="{{::c.r}}"
          class="zone"
          />
  <rect ng-repeat="r in game.scenario.rect"
        ng-attr-x="{{::r.x-r.width/2}}" ng-attr-y="{{::r.y-r.height/2}}"
        ng-attr-width="{{::r.width}}" ng-attr-height="{{::r.height}}"
        class="zone"
        />
  <circle ng-repeat="o in game.scenario.objectives"
          ng-attr-cx="{{::o.x}}"
          ng-attr-cy="{{::o.y}}"
          r="9.842"
          class="objective"
          />
  <circle ng-repeat="f in game.scenario.flags"
          ng-attr-cx="{{::f.x}}"
          ng-attr-cy="{{::f.y}}"
          r="7.874"
          class="objective"
          />
  <g ng-show="stateIs('game.setup')">
    <rect ng-show="game.scenario.killbox"
          x="140" y="140"
          width="200" height="200"
          class="area"
          />
    <circle ng-repeat="o in game.scenario.objectives"
            ng-attr-cx="{{::o.x}}"
            ng-attr-cy="{{::o.y}}"
            r="49.842"
            class="area"
            />
    <circle ng-repeat="f in game.scenario.flags"
            ng-attr-cx="{{::f.x}}"
            ng-attr-cy="{{::f.y}}"
            r="47.874"
            class="area"
            />
  </g>
</g>
