<button type="button"
        class="btn btn-default"
        ng-click="doModeAction('viewZoomIn')"
        title="{{action_bindings['viewZoomIn'] || ''}}">
  <span class="glyphicon glyphicon-zoom-in"></span>
</button>
<button type="button"
        class="btn btn-default"
        ng-click="doModeAction('viewZoomReset')"
        title="{{action_bindings['viewZoomReset'] || ''}}">
  <span class="glyphicon glyphicon-fullscreen"></span>
</button>
<button type="button"
        class="btn btn-default"
        ng-click="doModeAction('viewZoomOut')"
        title="{{action_bindings['viewZoomOut'] || ''}}">
  <span class="glyphicon glyphicon-zoom-out"></span>
</button>
