<button class="btn btn-default"
        ng-click="doModeAction('zoomIn')"
        title="{{action_bindings['zoomIn'] || ''}}">
  <span class="glyphicon glyphicon-zoom-in"></span>
</button>
<button class="btn btn-default"
        ng-click="doModeAction('zoomReset')"
        title="{{action_bindings['zoomReset'] || ''}}">
  <span class="glyphicon glyphicon-fullscreen"></span>
</button>
<button class="btn btn-default"
        ng-click="doModeAction('zoomOut')"
        title="{{action_bindings['zoomOut'] || ''}}">
  <span class="glyphicon glyphicon-zoom-out"></span>
</button>
