<div id="settings-main">
  <div class="panel panel-info">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-import"></span>
      Import
    </div>
    <div class="panel-content">
      <form>
        <div class="form-group">
          <label class="control-label"
                 for="import-file">
            Choose file
          </label>
          <input id="import-file"
                 type="file"
                 multiple
                 ea-file="doOpenSettingsFile(file)" />
        </div>
      </form>
      <div class="error-list">
        <div ng-repeat="err in open_result">
          <strong class="text-warning">{{::err}}</strong>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="button"
              class="btn btn-default"
              ng-click="doResetSettings({})">
        Reset Settings
      </button>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-export"></span>
      Export
    </div>
    <div class="panel-content">
      <a class="btn btn-default"
         ng-href="{{save.url}}"
         download="{{::save.name}}">
        Download Settings File
      </a>
    </div>
  </div>
</div>
