<div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>Layers</strong>
    </div>
    <div class="panel-content">
      <form class="form-inline"
            name="layers">
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-checked="game_setup.layers | gameLayers:'isDisplayed':'b'"
                   ng-click="game_setup.doToggleLayer('b')">
            Board
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-checked="game_setup.layers | gameLayers:'isDisplayed':'d'"
                   ng-click="game_setup.doToggleLayer('d')">
            Deploiement
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-checked="game_setup.layers | gameLayers:'isDisplayed':'s'"
                   ng-click="game_setup.doToggleLayer('s')">
            Scenario
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-checked="game_setup.layers | gameLayers:'isDisplayed':'m'"
                   ng-click="game_setup.doToggleLayer('m')">
            Models
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-checked="game_setup.layers | gameLayers:'isDisplayed':'t'"
                   ng-click="game_setup.doToggleLayer('t')">
            Templates
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>Scenario</strong>
    </div>
    <div class="panel-content">
      <form class="form-inline"
            name="scenario">
        <select class="form-control"
                ng-options="s as s[0] for s in game_setup.scenarios"
                ng-model="game_setup.scenario_group">
        </select>
        <select class="form-control"
                ng-options="s.name as s.name for s in game_setup.scenario_group[1]"
                ng-model="game_setup.scenario_name"
                ng-change="game_setup.doSetScenario()">
        </select>
        <button class="btn btn-default"
                ng-click="game_setup.doSetRandomScenario()">
          Random
        </button>
        <button class="btn btn-default"
                ng-click="game_setup.doGenerateObjectives()">
          Generate Objective
        </button>
      </form>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>Import Board File</strong>
    </div>
    <div class="panel-content">
      <form class="form-inline">
        <div class="form-group">
          <input type="file"
                 multiple
                 class="form-control"
                 click-file="game_setup.doImportBoardFile(file)" />
        </div>
      </form>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>Board Map</strong>
    </div>
    <div class="panel-content">
      <form class="form-inline"
            name="board-map">
        <select class="form-control"
                ng-options="b.name as b.name for b in game_setup.boards"
                ng-model="game_setup.board_name"
                ng-change="game_setup.doSetBoard()">
        </select>
        <button class="btn btn-default"
                ng-click="game_setup.doSetRandomBoard()">
          Random
        </button>
        <button class="btn btn-default"
                ng-click="game_setup.doResetTerrain()">
          Reset Terrain
        </button>
      </form>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>Create Terrain</strong>
    </div>
    <div class="panel-content">
      <form class="form-inline"
            name="create-terrain">
        <table>
          <tr>
            <th>Ambiance</th>
            <td>
              <select class="form-control"
                      ng-options="k as k for (k,f) in game_setup.terrains"
                      ng-model="game_setup.ambiance"
                      ng-change="game_setup.onAmbianceChange()">
              </select>
            </td>
          </tr>
          <tr>
            <th>Category</th>
            <td>
              <select class="form-control"
                      ng-options="k as k for (k,s) in
                                  game_setup.terrains[game_setup.ambiance]"
                      ng-model="game_setup.category"
                      ng-change="game_setup.onCategoryChange()">
              </select>
            </td>
          </tr>
          <tr>
            <th>Entry</th>
            <td>
              <select class="form-control"
                      ng-options="k as e.name for (k,e) in
                                  game_setup.terrains[game_setup.ambiance][game_setup.category]"
                      ng-model="game_setup.entry"
                      ng-change="game_setup.onEntryChange()">
              </select>
            </td>
          </tr>
        </table>
      </form>
      <br />
      <table>
        <tr>
          <th>Image</th>
          <td>
            <img ng-width="{{game_setup.getTerrain().img.width/2}}"
                 ng-height="{{game_setup.getTerrain().img.height/2}}"
                 ng-src="{{game_setup.getTerrain().img.link}}" />
          </td>
        </tr>
      </table>
    </div>
    <div class="panel-footer">
      <button class="btn btn-default"
              ng-disabled="!game_setup.getTerrain() ||
                           game.currentModeIs('CreateTerrain')
                           "
              ng-click="game_setup.doCreateTerrain()">
        Create Terrain
      </button>
    </div>
  </div>
</div>
