<g ng-repeat="(i,model) in state.game.models[type] track by model.state.stamp"
   click-game-model
   ng-attr-transform="{{model.render.transform}}"
   ng-class="{
             'remote-selection': model.selection.remote,
             'local-selection': model.selection.local,
             'single-remote': model.selection.single_remote,
             'single-local': model.selection.single_local
             }">
  <circle class="model-base"
          data-stamp="{{model.render.stamp}}"
          ng-attr-cx="{{model.render.cx}}"
          ng-attr-cy="{{model.render.cy}}"
          ng-attr-r="{{model.render.radius}}"
          ng-style="{
                    fill: model.render.base_color,
                    }">
    <title>{{model.render.title}}</title>
  </circle>
  <line class="model-los"
        ng-attr-x1="{{model.render.cx}}" ng-attr-y1="{{model.render.cy}}"
        ng-attr-x2="{{model.render.dx}}" ng-attr-y2="{{model.render.dy}}">
  </line>
  <line class="model-los"
        ng-attr-x1="{{model.render.flx}}" ng-attr-y1="{{model.render.cy}}"
        ng-attr-x2="{{model.render.frx}}" ng-attr-y2="{{model.render.cy}}">
  </line>
  <image class="model-image"
         x="0" y="0"
         ng-show="model.render.img"
         ng-attr-width="{{model.render.width}}"
         ng-attr-height="{{model.render.height}}"
         xlink:href=""
         ng-attr-xlink:href="{{model.render.img}}">
  </image>
</g>
