<g ng-repeat="(i,model) in state.game.models[type] track by model.state.stamp">
  <g ng-attr-transform="{{model.render.transform}}"
     ng-class="{
               'remote-selection': model.selection.remote,
               'local-selection': model.selection.local,
               'single-remote': model.selection.single_remote,
               'single-local': model.selection.single_local
               }">
    <circle class="model-edge"
            ng-attr-cx="{{model.render.cx}}"
            ng-attr-cy="{{model.render.cy}}"
            ng-attr-r="{{model.render.radius}}">
    </circle>
    <image class="model-image"
           ng-show="model.render.lock.show"
           ng-attr-x="{{model.render.lock.x}}"
           ng-attr-y="{{model.render.lock.y}}"
           width="10" height="10"
           xlink:href="/data/icons/Lock.png">
    </image>
    <line class="model-los-selection"
          ng-attr-x1="{{model.render.cx}}" ng-attr-y1="{{model.render.cy}}"
          ng-attr-x2="{{model.render.cx}}" ng-attr-y2="{{model.render.los.dy}}">
    </line>
    <line class="model-los-selection"
          ng-attr-x1="{{model.render.los.lx}}" ng-attr-y1="{{model.render.cy}}"
          ng-attr-x2="{{model.render.los.rx}}" ng-attr-y2="{{model.render.cy}}">
    </line>
    <image class="model-image"
           ng-repeat="e in model.render.effects"
           ng-show="e.show"
           ng-attr-x="{{e.x}}"
           ng-attr-y="{{e.y}}"
           width="10" height="10"
           xlink:href=""
           ng-attr-xlink:href="{{e.link}}">
    </image>
    <g ng-if="model.render.dmg.show">
      <line class="model-damage-bar"
            style="stroke: #F00;"
            ng-attr-x1="{{model.render.dmg.lx}}" ng-attr-y1="{{model.render.dmg.ly}}"
            ng-attr-x2="{{model.render.dmg.rx}}" ng-attr-y2="{{model.render.dmg.ry}}">
      </line>
      <line class="model-damage-bar"
            style="stroke: #0F0;"
            ng-attr-x1="{{model.render.dmg.x}}" ng-attr-y1="{{model.render.dmg.ly}}"
            ng-attr-x2="{{model.render.dmg.rx}}" ng-attr-y2="{{model.render.dmg.ry}}">
      </line>
    </g>
    <g ng-if="model.render.field.show">
      <line class="model-damage-bar"
            style="stroke: #066;"
            ng-attr-x1="{{model.render.field.lx}}" ng-attr-y1="{{model.render.field.ly}}"
            ng-attr-x2="{{model.render.field.rx}}" ng-attr-y2="{{model.render.field.ry}}">
      </line>
      <line class="model-damage-bar"
            style="stroke: #0FF;"
            ng-attr-x1="{{model.render.field.x}}" ng-attr-y1="{{model.render.field.ly}}"
            ng-attr-x2="{{model.render.field.rx}}" ng-attr-y2="{{model.render.field.ry}}">
      </line>
    </g>
    <g click-game-element-label="model.render.counter">
    </g>
    <image class="model-image"
           ng-show="model.render.souls.show"
           ng-attr-x="{{model.render.souls.cx}}"
           ng-attr-y="{{model.render.souls.cy}}"
           width="20" height="20"
           ng-attr-transform="{{model.render.souls.transform}}"
           xlink:href="/data/icons/Soul.png">
    </image>
    <g click-game-element-label="model.render.souls">
    </g>
    <g click-game-element-label="model.render.unit">
    </g>
  </g>
  <g click-game-element-label="model.render.label"
     ng-attr-transform="{{model.render.label_transform}}">
  </g>
  <g click-game-element-label="model.render.path.length">
  </g>
  <circle class="model-charge-target"
          ng-show="model.render.charge_target.show"
          ng-class="{ reached: model.render.charge_target.reached }"
          ng-attr-cx="{{model.render.charge_target.cx}}"
          ng-attr-cy="{{model.render.charge_target.cy}}"
          ng-attr-r="{{model.render.charge_target.radius}}">
  </circle>
</g>
