#game {
    #game-los {
        pointer-events: none;

        line {
            stroke-width: 0.5px;
            stroke: $los-stroke-color;
        }
    }

    .los-origin,
    .los-target {
        @include selection-box;
    }

    .los-origin {
        stroke: $model-origin-stroke-color;
    }
    .los-target {
        stroke: $model-target-reached-stroke-color;
    }
    %los-polygon {
        fill-opacity: 0.5;
        stroke-width:0.5px;
    }
    .los-envelope {
        @extend %los-polygon;
        fill:#9F9;
        stroke:#3F3;
    }
    .los-darkness {
        @extend %los-polygon;
        fill:#030;
        stroke:#020;
    }
    .los-shadow {
        @extend %los-polygon;
        fill:#999;
        stroke:#666;
    }        
}
