<div>
  <div ng-show="state.game | gameConnection:'active'"
       class="panel panel-info">
    <div class="panel-heading">Chat</div>
    <div class="panel-content">
      <click-game-chat-box>
      </click-game-chat-box>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Tools</div>
    <click-game-tool-box>
    </click-game-tool-box>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Dice</div>
    <div class="panel-content">
      <click-game-dice-box>
      </click-game-dice-box>
    </div>
  </div>
</div>
