<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">Legal Info</h4>
    </div>
    <div class="panel-body">
      <p>
        Privateer Press, WARMACHINE®, Cryx, Cygnar, Khador, Protectorate of Menoth,
        Retribution of Scyrah, HORDES, Circle Orboros, Legion of Everblight, Skorne,
        Trollbloods, and their logos and slogans; warjack, warbeast, and warcaster
        are trademark property of Privateer Press.
        ©2001-2014 Privateer Press, Inc. All Rights Reserved. Used without Permission.
      </p>
      <p>
        This application is not official and not endorsed by Privateer Press.
      </p>
      <p>
        Art assets are from the
        <a href="http://z7.invisionfree.com/vassalwmh/">
          Vassal Warmachine module
        </a>, by Jeffery Brady and Ben Boyd.
      </p>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">License and Source code</h4>
    </div>
    <div class="panel-body">
      <p>
        This program is free software: you can redistribute it and/or modify it
        under the terms of the GNU Affero General Public License as published
        by the Free Software Foundation, either version 3 of the License,
        or (at your option) any later version.
      </p>
      <p>
        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
        or FITNESS FOR A PARTICULAR PURPOSE.
        See the GNU Affero General Public License for more details.
      </p>
      <p>
        <a href="https://github.com/eauc/clicknfeat">
          The source code for this program is available here.
        </a>
      </p>
    </div>
  </div>
</div>
