$action-error-fill-color: #F00;
$action-error-text-color: #CCC;

$deploiement-fill-color: #FFC;
$deploiement-stroke-color: #000;

$scenario-fill-color: #CC0;
$scenario-stroke-color: #990;

$create-model-fill-color: #F11;
$model-origin-stroke-color: #F90;
$model-target-stroke-color: #F00;
$model-target-reached-stroke-color: #0FF;
$model-area-fill-color: #9F9;
$model-area-stroke-color: #6F6;
$model-ctrlarea-fill-color: #0FF;
$model-ctrlarea-stroke-color: #099;
$model-melee-fill-color: black;
$model-melee-stroke-color: black;
$model-charge-fill-color: #CCC;
$model-charge-stroke-color: #666;
$model-aoe-aura-fill-color: white;
$model-b2b-aura-fill-color: #FF0;
$model-overlap-aura-fill-color: #F30;
$model-contesting-aura-fill-color: white;
$model-killboxing-aura-fill-color: red;

$create-template-fill-color: #F11;
$template-fill-color: #FC3;
$template-wall-fill-color: #CCC;
$template-stroke-color: #C60;
$template-wall-stroke-color: #999;

$create-terrain-fill-color: #F11;

$label-fill-color: #333;
$label-text-color: white;

$dragbox-stroke-color: #00F;
$ruler-stroke-color: #0EE;
$los-stroke-color: #0F0;
$selection-local-stroke-color: #0F0;
$selection-remote-stroke-color: white;
