input.ng-invalid-required {
    border-color: #A94442;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.clickable {
    cursor: pointer;
}

ul.nav-tabs li {
    @extend .clickable;
}

.hint {
    color: #999;
    font-style: italic;
    font-size: 90%;
}

%scrollbox-y {
    overflow-y: auto;
}

input[type='file'].form-control {
    padding: 0px;
}

.compat-warning {
    background-color: red;
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 5px 20px;
}

a:not([href]),
a:not([href]):hover,
a:not([href]):focus {
    text-decoration: none;
    color: inherit;
}