<div>
  <div class="panel panel-info">
    <div class="panel-heading">Save current game</div>
    <div class="panel-body">
      <a class="btn btn-default"
         ng-disabled="!game_save.exports.game.url"
         ng-href="{{game_save.exports.game.url}}"
         download="{{game_save.exports.game.name}}">
        Download Game File
      </a>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Save current models selection</div>
    <div class="panel-body">
      <a class="btn btn-default"
         ng-disabled="!game_save.exports.models.url"
         ng-href="{{game_save.exports.models.url}}"
         download="{{game_save.exports.models.name}}">
        Download Models File
      </a>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Save current board and terrain</div>
    <div class="panel-body">
      <a class="btn btn-default"
         ng-disabled="!game_save.exports.board.url"
         ng-href="{{game_save.exports.board.url}}"
         download="{{game_save.exports.board.name}}">
        Download Board File
      </a>
    </div>
  </div>
</div>
