<div>
  <!-- <button type="button" -->
  <!--         class="btn btn-default" -->
  <!--         ng-click="updateExports()"> -->
  <!--   Update files -->
  <!-- </button> -->
  <div class="panel panel-info">
    <div class="panel-heading">Save current game</div>
    <div class="panel-body">
      <a class="btn btn-default"
         ng-disabled="!exports.game.url"
         ng-href="{{exports.game.url}}"
         download="{{exports.game.name}}">
        Download Game File
      </a>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Save current models selection</div>
    <div class="panel-body">
      <a class="btn btn-default"
         ng-disabled="!exports.models.url"
         ng-href="{{exports.models.url}}"
         download="{{exports.models.name}}">
        Download Models File
      </a>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Save current board and terrain</div>
    <div class="panel-body">
      <a class="btn btn-default"
         ng-disabled="!exports.board.url"
         ng-href="{{exports.board.url}}"
         download="{{exports.board.name}}">
        Download Board File
      </a>
    </div>
  </div>
</div>
