.error-toaster {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    font-size: 24px;
    font-weight: bold;
    color: white;
    opacity: 0.8;
    text-align: center;
}
