<div>
  <div class="prompt-mask">
  </div>
  <div class="prompt-container text-center">
    <div class="prompt-panel panel panel-default">
      <form name="prompt">
        <div class="panel-body">
          <p></p>
          <input type="text"
                 class="form-control" />
        </div>
        <div class="panel-footer">
          <button class="btn btn-default"
                  type="button"
                  style="width:45%;">
            Cancel
          </button>
          <button class="btn btn-primary"
                  type="submit"
                  style="width:45%;">
            Ok
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
