#game {
    #game-scenario {
        %base {
            fill: $scenario-fill-color;
            stroke: $scenario-stroke-color;
            stroke-width: 0.5px;
        }
        
        .zone {
            @extend %base;
            fill-opacity: 0.3;
        }

        .objective {
            @extend %base;
            fill-opacity:0.8;
        }

        .area {
            @extend %base;
            fill:none;
        }
    }
}
